html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
}

.CodeMirror {
    width: 100%;
    height: 100% !important;
    font-size: medium;
    font-family: 'Source Code Pro', monospace !important;
    resize: none;
    padding: 0;
    margin: 0;
    border-width: 0;
}

.Editor {
    width: 100%;
    height: calc(100% - 45px);
    left: 0;
    top: 0;
}

.Toolbar {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    align-items: center;
    display: flex;
}


.ThemeSwitch {
    position: absolute;
    display: inline-block;
    width: 55px;
    height: 25px;
    right: 125px;
}
  
.ThemeSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.ThemeSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    border-radius: 34px;
    transition: .4s;
}  

.ThemeSlider:before {
    position: absolute;
    content: "";
    height: 31px;
    width: 31px;
    border-radius: 50%;
    bottom: -3px;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .ThemeSlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.IdTypeSwitch {
    position: absolute;
    display: inline-block;
    width: 170px;
    height: 25px;
    right: 325px;
}
  
.IdTypeSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.IdTypeSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}  

.IdTypeSlider:before {
    position: absolute;
    content: "short id";
    height: 25px;
    width: 85px;
    -webkit-transition: .4s;
    transition: .4s;
    text-align: center;
}
  
input:checked + .IdTypeSlider:before {
    content: "long id";
    -webkit-transform: translateX(85px);
    -ms-transform: translateX(85px);
    transform: translateX(85px);
}

.IdLabel {
    position: absolute;
    display: inline-block;
    width: 125px;
    height: 25px;
    right: 200px;
    text-align: center;
}

#cursorposition {
    transition: 5ms;
    margin: 0;
    font-weight: 400;
    padding-left: 25px;
}

#linktoresource {
    transition: 5ms;
    margin: 0;
    font-weight: 200;
}

#linktoresource:hover {
    cursor: pointer;
}


#languageselector {
    position: absolute;
    right: 25px;
    border-radius: 5px;
    height: 25px;
}